.card {
    width: 400px;
    height: 500px;
    margin: 20px;
    transition: opacity 150ms;
    background-color: #eef1ea;
    text-decoration: none;
    border-radius: 10px;
}

.card:hover {
    opacity: 50%;
}

.image {
    display: block;
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    width: 380px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px;
    color: #382C1A;
    text-align: left;
    height: fit-content;
}

.description {
    width: 380px;
    margin: 10px;
    position: absolute;
    top: 300px;
    height: fit-content;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
    color: #382C1A;
    text-align: left;
}

.foot-text {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif;
}

.foot {
    display: flex;
    position: absolute;
    margin: 10px;
    bottom: 0;
    gap: 20px;
}